__pycache__/
*.py[cod]
*$py.class

venv/
env/
.env

build/
dist/
*.egg-info/
.eggs/

*.db
*.sqlite3
instance/

.pio/
.vscode/
*.bin
*.elf
*.hex


.DS_Store
Thumbs.db
.idea/
*.log